body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

header {
    background-color: #5aa2a3;
    color: white;
    padding: 20px;
}

h1, h2 {
    margin: 0;
}

#search-bar {
    width: 250px;
}

.card {
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-slider {
    position: relative;
}

.product-image {
    width: 100%;
    height: 400px; /* Tamaño fijo para las imágenes */
    object-fit: cover; /* Para mantener proporciones y ajustar dentro del tamaño */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.left-arrow,
.right-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    background-color: white;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
}

.card-body {
    text-align: center;
}

.card-price {
    font-weight: bold;
}

.btn-primary {
    background-color: #5aa2a3;
    border: none;
}

#cart-summary {
    font-size: 1.2em;
    font-weight: bold;
}

#cart-items {
    list-style-type: none;
}

#cart-items li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

footer {
    background-color: #5aa2a3;
    color: white;
}

footer h4, footer p {
    margin: 0;
}

#cart-icon {
    cursor: pointer;
}

.card-description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Muestra solo 2 líneas */
    -webkit-box-orient: vertical;
    max-height: 50px; /* Ajuste de altura para 2 líneas */
    transition: max-height 0.3s ease-in-out;
}

.card-description.expanded {
    -webkit-line-clamp: unset; /* Quita la limitación de líneas */
    max-height: 500px; /* Aumenta la altura máxima para que se muestre el contenido completo */
}

.show-more-btn {
    margin-top: 10px;
    color: #5aa2a3;
}

/* Responsive Design */
@media (max-width: 768px) {
    #search-bar {
        width: 100%; /* Hace que el campo de búsqueda ocupe todo el ancho en móviles */
        margin-bottom: 10px; /* Espacio debajo del campo de búsqueda */
    }

    header {
        flex-direction: column; /* Coloca los elementos en columna en móviles */
        align-items: stretch; /* Alinea los elementos a lo largo de todo el ancho */
    }

    .col-md-4 {
        flex: 0 0 50%; /* Muestra 2 productos por fila en móviles */
        max-width: 50%; /* Establece un ancho máximo del 50% */
    }
}

@media (min-width: 769px) {
    .col-md-4 {
        flex: 0 0 25%; /* Muestra 4 productos por fila en PC */
        max-width: 25%; /* Establece un ancho máximo del 25% */
    }
}
